html {
    height: 100vh;
}
body {
    min-height: 100vh;
}

.float-right {
    float: right;
}

.cursor-default {
    cursor: default;
}

/* Bulma override */
.media-content {
    overflow: hidden !important;
}

/************************
 * Main CSS Grid Layout *
 ************************/

.chat-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;

    background: rgb(190,190,190);
    background: linear-gradient(0deg, rgb(172, 172, 172) 0%, rgb(214, 214, 214) 100%);

    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 260px 1fr 280px;
    grid-template-rows: auto 1fr auto;
}

@media (prefers-color-scheme: dark) {
    .chat-container {
        background: rgb(39, 39, 39);
        background: linear-gradient(0deg, rgb(39, 39, 39) 0%, rgb(66, 66, 66) 100%);
    }
}

/* Header row */
.chat-container > .chat-header {
    grid-column: 1 / 4;
    grid-row: 1;
}

/* Left column: DMs and channels */
.chat-container > .left-column {
    grid-column: 1;
    overflow: hidden;
}

/* Main column: chat history */
.chat-container > .chat-column {
    grid-column: 2;
    grid-row: 2;
    overflow: hidden;
    position: relative;
}

/* Auto-scroll checkbox in the corner */
.chat-column >.autoscroll-field {
    position: absolute;
    z-index: 39; /* just below modal shadow */
    right: 6px;
    bottom: 4px;
}

/* Footer row: message entry box */
.chat-container > .chat-footer {
    grid-column: 1 / 4;
    grid-row: 3;
}

/* Right column: Who List */
.chat-container > .right-column {
    grid-column: 3;
    overflow: hidden;
}

/* Responsive CSS styles */
@media screen and (min-width: 1024px) {
    .mobile-only {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .chat-container {
        grid-template-columns: 0px 1fr 0px;
        column-gap: 0;
    }

    .left-column {
        display: none;
    }

    .right-column {
        display: none;
    }
}

/***********************************************
 * Reusable CSS Grid-based Bulma Card layouts  *
 * with a fixed header, full size scrollable   *
 * content, and (optionally) video-feeds under *
 * the header (main chat card only)            *
 ***********************************************/

.grid-card {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}

.grid-card > .card-header {
    grid-row: 1;
}

.grid-card > .video-feeds {
    grid-row: 2;
}

.grid-card > .card-content {
    grid-row: 3;
    /* background-color: magenta; */
    overflow-y: scroll;

    /* Work around Safari bug: the chat history would just lengthen the full
       web page every time cuz it doesn't do grids well, so add a max height
       of 90% viewport height to mitigate it a bit. */
    max-height: 90vh;
}

/* Ensure the chat history isn't squished too far by the Videos panel if
   the user has a lot open/has made their size very big */
#chatHistory {
    min-height: 150px;
}

/* User configurable font size increases */
#chatHistory.x1 {
    font-size: large;
}
#chatHistory.x2 {
    font-size: x-large;
}
#chatHistory.x3 {
    font-size: xx-large;
}
#chatHistory.x4 {
    font-size: 64pt;
}

/*******************
 * Video Feeds CSS *
 *******************/

.video-feeds {
    background-color: #222;
    width: 100%;
    max-width: 100%;

    /* display: flex;
    flex-wrap: wrap;
    align-items: left; */
}

.video-feeds > .feed {
    position: relative;
    /* flex: 0 0 168px; */
    float: left;
    width: 168px;
    height: 112px;
    background-color: black;
    margin: 3px;
    overflow: hidden;
    resize: both;
}

.video-feeds.x1 > .feed {
    flex: 0 0 252px;
    width: 252px;
    height: 168px;
}

.video-feeds.x2 > .feed {
    flex: 0 0 336px;
    width: 336px;
    height: 224px;
}

.video-feeds.x3 > .feed {
    flex: 0 0 504px;
    width: 504px;
    height: 336px;
}

.video-feeds.x4 > .feed {
    flex: 0 0 672px;
    width: 672px;
    height: 448px;
}

.video-feeds > .feed > video {
    width: 100%;
    height: 100%;
}

.video-feeds > .feed > .controls {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    left: 4px;
    bottom: 4px;
}

.video-feeds > .feed > .close {
    position: absolute;
    right: 4px;
    top: 0;
}

.video-feeds > .feed > .caption {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    top: 4px;
    left: 4px;
    font-size: small;
    padding: 2px 4px;
}